## Tasks

Step 1. If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.
<br><br>
Step 2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.
<br><br>
Step 3. Check the values of this new column for accuracy. Note any observations in markdown format.
<br><br>
Step 4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”
<br><br>
Step 5. Print the frequency for this new column.
<br><br>
Step 6. Ensure your notebook is clean and structured and that your code is well commented.
<br><br>
Step 7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.
<br><br>
Step 8. Save your notebook and submit it to your tutor for review.

In [1]:
# Import libraries 
import pandas as pd 
import numpy as np 
import os

In [2]:
# Create path 
path = r'/Users/bentley/Documents/Instacart'

In [4]:
# Import a pickel file into a dataframe 
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [5]:
# Check dataframe 
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [6]:
# Check info 
df_ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_day_of_week       int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
dtypes: category(1), float64(2), int64(10), object(2)
memory usage: 3.7+ GB

## Step 1.

In [8]:
# Create a new column using loc() function 
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <=15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
# Check results
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

Notes: price_range_loc column has been created and all products are defined.

In [14]:
# Find out which day most orders take place by doing a frequency check using values_count() function 
df_ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

Notes: <br><br><b>
0 = Sunday (highest frequency)<br>
1 = Monday <br>
2 = Tuesday <br>
3 = Wednesday <br>
4 = Thursday (lowest frequency)<br>
5 = Friday <br>
6 = Saturday <br>
<br>
</b>Results: Sunday (Value 0) is the busiest. Thursday (Value 4) is the slowest. A new column 'busiest_day' will be created with a for-loop. The loop will run through every row in the 'order_day_of_week' column, compare the value in it with what I know are the busiest and slowest days, and assign it the corresponding string value: busiest day, least busy, and regularly busy. </b>

In [15]:
# Create an empty list--result--to place results from the loop 
result = []

for value in df_ords_prods_merged['order_day_of_week']: 
    if value == 0:
        result.append('Busiest day')
    elif value == 4: 
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [16]:
# Create a new column within the dataframe to reflect result
df_ords_prods_merged['busiest_day'] = result

In [18]:
# Check frequency of new column
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [19]:
# View dataframe 
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy

Notes: New columns have been created and cells are defined in new columns.

## Step 2

In [21]:
# Check frequency on most orders of week to configure 2 most busiest and 2 most slowest days of the week 
df_ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

Notes: <br><br><b>
0 = Sunday (highest frequency)<br>
1 = Monday (second highest)<br>
2 = Tuesday <br>
3 = Wednesday (second lowest)<br>
4 = Thursday (lowest frequency)<br>
5 = Friday <br>
6 = Saturday <br>
<br></b>
Results: Sunday and Monday (Values 0, 1) are the busiest days. Thursday and Wednesday (Values 4, 3) are the slowest days. A new column 'busiest_days' will be created with a for-loop. The loop will run through every row in the 'order_day_of_week' column, compare the value in it with what I know are the top two busiest and slowest days, and assign it the corresponding string value: busiest days, slowest days, and typical days.

In [31]:
# Create an empty list--results--to place results from the loop 
results = []

for value in df_ords_prods_merged['order_day_of_week']: 
    if value == 0:
        results.append('Busiest days')
    elif value == 1:
        results.append('Busiest days')
    elif value == 4: 
        results.append('Slowest days')
    elif value == 3:
        results.append('Slowest days')
    else:
        results.append('Normal days')

In [32]:
# Create a new column within the dataframe to reflect results
df_ords_prods_merged['busiest_days'] = results

In [33]:
# Check frequency of new column
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Normal days     12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

In [34]:
# Check info 
df_ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_day_of_week       int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
dtypes: category(1), float64(2), int64(10), object(5)
memory usage: 4.4+ GB

Notes: 'Busiest_days' column has been created and cells are defined with assigned values.

## Step 3

In [35]:
# Check values in 'busiest_days' column for accuracy 
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Normal days     12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

<b>Notes: Based on my observations, normal days have higher frequency compared to the other two. This makes sense because more days are assigned as normal days (ex: Tuesday, Friday, and Saturday) compared to the other two. Busiest days have more frequency compared to slowest days because more customers make more orders on busier days. This also means less orders are made on slowest days.</b>

## Step 4

In [36]:
# Check frequency of hours in 'hour_of_day' where most orders take place 
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

Notes: Since there are multiple (24) values listed here, I'm going to create a user-defined function to create three values (most orders/average orders/fewest orders) to assign them to the hour-based values listed. <br><br>

- If less than 1,000,000 orders are made in the same hour, it will be labeled as 'Fewest orders' <br>
- If more than 1,000,000 orders and less than or equal to 2,000,000 orders are made in the same hour, it will be labeled as 'Average orders' <br>
- If more than 2,000,000 orders are made in the same hour, it will be labeled as 'Most orders' <br> 
<br>
Therefore,<br> 
<br>
<b>Most orders = Hours 9-17<br>
Average orders = Hour 8, 18, 19 <br>
Fewest orders = Hours 0-7, 20-23 <br></b>

In [38]:
# Simply dataframe 
df = df_ords_prods_merged

In [63]:
# Create conditions using loc() function 
df.loc[(df['order_hour_of_day'] >= 20) & (df['order_hour_of_day'] <= 8), 'orders_loc'] ='Fewest orders'

In [65]:
df.loc[(df['order_hour_of_day'] <= 19) & (df['order_hour_of_day'] >= 18), 'orders_loc'] = 'Average orders'

In [67]:
df.loc[(df['order_hour_of_day'] >= 9) & (df['order_hour_of_day'] <= 17), 'orders_loc'] = 'Most orders'

# Step 5

In [68]:
# Check frequency in new column 
df['orders_loc'].value_counts(dropna = False)

Most orders       23205725
NaN                3495993
Average orders     2894807
Lowest orders      2808334
Name: orders_loc, dtype: int64

Notes: There's an issue with the conditions I coded with the loc() function. There are multiple missing values. How do I debug this?

# Step 6

Notes: The notebook is clean and organized.

# Step 7

In [69]:
# Export dataframe 
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_derived.pkl'))

# Step 8

Notes: I saved the notebook and submitted it for review.

# Revision

In [4]:
# Import libraries

import pandas as pd
import numpy as np 
import os

In [5]:
# Create path
path = r'/Users/julie.spigner/Desktop/Instacart Basket Analysis'

In [7]:
path

'/Users/julie.spigner/Desktop/Instacart Basket Analysis'

In [8]:
# import pickle file 
df_ords_prods_d = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_derived.pkl'))

In [9]:
# View df 
df_ords_prods_d

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,orders_loc
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Normal days,NaN
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,NaN
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,NaN
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,both,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Normal days,Most orders
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,both,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Normal days,Most orders
32404856,758936,203436,prior,1,2,7,NaN,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Normal days,NaN
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Slowest days,NaN
32404858,3093936,205420,prior,1,4,14,NaN,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range product,Least busy,Slowest days,Most orders

In [10]:
# Drop a column from df 
df_ords_prods_d.drop(columns = ['orders_loc'])

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Normal days
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,both,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Normal days
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,both,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Normal days
32404856,758936,203436,prior,1,2,7,NaN,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Normal days
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Slowest days
32404858,3093936,205420,prior,1,4,14,NaN,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range product,Least busy,Slowest days

In [11]:
# Overwrite df with dropped column 
df_ords_prods_d1 = df_ords_prods_d.drop(columns = ['orders_loc'])

In [12]:
# View df 
df_ords_prods_d1.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Normal days
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days

Notes: New dataframe is ready to be used to redo Steps 4 and 5.

## Step 4 (revised)

In [13]:
# Check frequency of hours in 'hour_of_day' where most orders take place 
df_ords_prods_d1['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

Notes: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.” <br><br> 

Create conditions: <br>
Most orders >= 2,000,000 <br>
1,000,000 => Average orders <= 1,999,999 <br>
Fewest orders <= 999,999 <br> 
<br>
Therefore:<br> 
10 (Most orders)<br>
11 (Most orders)<br>
14 (Most orders)<br>
15 (Most orders)<br>
13 (Most orders)<br>
12 (Most orders)<br>
16 (Most orders)<br>
9  (Most orders)<br>
17 (Most orders)<br>
8  (Average orders)<br>
18 (Average orders)<br>
19 (Average orders)<br>
20 (Fewest orders)<br>
7  (Fewest orders)<br>
21 (Fewest orders)<br>
22 (Fewest orders)<br>
23 (Fewest orders)<br>
6  (Fewest orders)<br>
0  (Fewest orders)<br>
1  (Fewest orders)<br>
5  (Fewest orders)<br>
2  (Fewest orders)<br>
4  (Fewest orders)<br>
3  (Fewest orders)<br>

In [16]:
# Create a list to store data 
results = []

# For each row in the column, 
for row in df_ords_prods_d1['order_hour_of_day']: 
    # if more than a value,
    if row >= 20: 
        # Append a order label 
        results.append('Fewest orders')
    # else, if more than a value, 
    elif row >= 18: 
        # Append a order label 
        results.append('Average orders')
    # else, if more than a value, 
    elif row >= 9: 
        #Append a order label 
        results.append('Most orders')
    #else, if equal to a value,
    elif row >= 8:
        #Append a order label 
        results.append('Average orders')
    #else, if less than a value, 
    elif row <= 7:
        # Append a order label
        results.append('Fewest orders')
    # otherwise,
    else: 
        #Append a order label 
        results.append('Not enough data')
        
# Create a column from the list 
df_ords_prods_d1['busiest_period_of_day'] = results

## Step 5 (revised)

In [17]:
# Check frequency of new column 
df_ords_prods_d1['busiest_period_of_day'].value_counts(dropna = False)

Most orders       23205725
Average orders     4612925
Fewest orders      4586209
Name: busiest_period_of_day, dtype: int64

Notes: Steps 4  and 5 are completed! A new column (busiest_period_of_day) has been added to reflect busiest periods or time of day when orders are made. The frequency of assigned values (most/avg./fewest orders) in new column  have been checked as well.

In [18]:
# Export dataframe
df_ords_prods_d1.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_derived_new.pkl'))